# GuiTextField
protected net.minecraft.client.gui.GuiTextField field_146214_l # cursorCounter
protected net.minecraft.client.gui.GuiTextField field_146221_u # disabledColor
protected net.minecraft.client.gui.GuiTextField field_146222_t # enabledColor
protected net.minecraft.client.gui.GuiTextField field_146223_s # selectionEnd
protected net.minecraft.client.gui.GuiTextField field_146224_r # cursorPosition
protected net.minecraft.client.gui.GuiTextField field_146225_q # lineScrollOffset
protected net.minecraft.client.gui.GuiTextField field_146226_p # isEnabled
protected net.minecraft.client.gui.GuiTextField field_175209_y # validator
protected net.minecraft.client.gui.GuiTextField func_146188_c(IIII)V # drawSelectionBox
# GuiSlot
protected net.minecraft.client.gui.GuiSlot field_148161_k # mc
protected net.minecraft.client.gui.GuiSlot field_148157_o # initialClickY
protected net.minecraft.client.gui.GuiSlot field_148168_r # selectedElement
protected net.minecraft.client.gui.GuiSlot field_148167_s # lastClicked
protected net.minecraft.client.gui.GuiSlot field_148170_p # scrollMultiplier
protected net.minecraft.client.gui.GuiSlot field_148169_q # amountScrolled
protected net.minecraft.client.gui.GuiSlot field_148165_u # hasListHeader
protected net.minecraft.client.gui.GuiSlot field_148166_t # showSelectionBox
protected net.minecraft.client.gui.GuiSlot func_148121_k()V # bindAmountScrolled
# GuiChat
public net.minecraft.client.gui.GuiChat field_152175_f # field_152175_f
