# GuiTextField
protected net.minecraft.client.gui.GuiTextField cursorCounter # cursorCounter
protected net.minecraft.client.gui.GuiTextField disabledColor # disabledColor
protected net.minecraft.client.gui.GuiTextField enabledColor # enabledColor
protected net.minecraft.client.gui.GuiTextField selectionEnd # selectionEnd
protected net.minecraft.client.gui.GuiTextField cursorPosition # cursorPosition
protected net.minecraft.client.gui.GuiTextField lineScrollOffset # lineScrollOffset
protected net.minecraft.client.gui.GuiTextField isEnabled # isEnabled
protected net.minecraft.client.gui.GuiTextField drawSelectionBox(IIII)V # drawSelectionBox