# GuiTextField
protected net.minecraft.client.gui.GuiTextField cursorCounter
protected net.minecraft.client.gui.GuiTextField disabledColor
protected net.minecraft.client.gui.GuiTextField enabledColor
protected net.minecraft.client.gui.GuiTextField selectionEnd
protected net.minecraft.client.gui.GuiTextField cursorPosition
protected net.minecraft.client.gui.GuiTextField lineScrollOffset
protected net.minecraft.client.gui.GuiTextField isEnabled
protected net.minecraft.client.gui.GuiTextField validator
protected net.minecraft.client.gui.GuiTextField drawSelectionBox(IIII)V